<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>Hello!</h1>

{% if user.is_authenticated %}
You are logged in. Please go to the <a href="/admin/">admin page</a> to access your models.

{% else %}

<p>Please create a superuser to log in to the <a href="/admin/">admin site </a>where you can see a GUI
    for your database tables.</p><br>

<p>You can create an admin user by running the command: <br>
    <i>&emsp; python manage.py createsuperuser</i><p><br>
</p>
<!--{% endif %}-->

</body>
</html>